name: CI/CD and Docker Build to DockerHub

env:
  DOCKER_USERNAME: ${{secrets.DOCKER_USER}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  DOCKER_TARGET_PLATFORM: linux/arm64
  DOCKER_REGISTRY: frankc60
  DOCKER_IMAGE: hello-world

on:
  push:
    branches: [master]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - run: ./setup_server.sh
  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - run: ./build_server.sh
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: ./test_server.sh
