name: npm-test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"

      - name: npm install dependencies
        run: npm ci

      - name: npm build if present
        run: npm run build --if-present

      - name: Run the test with Coverage
        run: npm test -- --coverage
        working-directory: /home/runner/work/hello-world/hello-world
