name: npm-test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test using NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: "12.x"
      - name: NPM install dependencies
        run: npm ci
      - name: NPM test with Coverage
        run: npm test -- -- coverage
        # working-directory: /home/runner/work/hello-world
